AWS_REGION="eu-central-1"
EC2_INSTANCE_ID="i-xxxxxx"
SECURITY_GROUP_ID="sg-xxxxxx"
PEM_PATH="/home/user/.aws/key.pem"
EC2_KEY_NAME="key"
EBS_VOLUME_SIZE_GB="8"
EC2_NAME_TAG="alnao-dev-proxy-server"
LOG_PATH="/home/user/.aws/dev_server.log"
